.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.2s;
    &:hover {
      background: #eee;
    }
  }
  .prev,
  .next {
    a {
      display: flex;
      align-items: center;
      width: 5rem;
      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        content: '';
        border-top: 1px solid #333;
        border-left: 1px solid #333;
      }
    }
  }

  .prev {
    order: 1;
    a {
      &::before {
        margin-right: 0.5rem;
        transform: rotate(-45deg);
      }
    }
  }

  .next {
    order: 3;
    a {
      &::before {
        order: 2;
        margin-left: 0.5rem;
        transform: rotate(135deg);
      }
    }
  }

  .numbers {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    order: 2;
    li {
      &:nth-child(3) {
        &::after {
          display: block;
          width: 100%;
          height: 2px;
          margin-top: 5px;
          content: '';
          background: #333;
        }
      }
    }
  }

  .active {
    font-weight: bold;
    color: white;
    pointer-events: none;
    background: #007bff;
  }
}
