version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '08:00'
      timezone: Asia/Tokyo
    versioning-strategy: increase
    target-branch: main
