---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="inner">
    <h1>お問い合わせありがとうございます。</h1>
    <p>
      この度はお問い合わせいただきありがとうございます。<br
      />担当者よりご連絡を差し上げますので、今しばらくお待ちください。
    </p>
    <a href="/">トップに戻る</a>
  </div>
</Layout>
<style>
  .inner {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
</style>
