/* ======================================================
//
//  MARK: アニメーション
//
//  このセクションでは、サイト全体で使用するアニメーション関連の定義を行います。
//
// ====================================================== */

/* ======================================================
//  MARK: animation-duration
// ====================================================== */
@property --duration-rapidly {
  syntax: '<time>';
  inherits: false;
  initial-value: 100ms;
}

@property --duration-default {
  syntax: '<time>';
  inherits: false;
  initial-value: 300ms;
}

@property --duration-relaxed {
  syntax: '<time>';
  inherits: false;
  initial-value: 500ms;
}

/* ======================================================
//  MARK: animation-timing-function (カスタムイージング)
// ====================================================== */
@property --ease-in-sine {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.47, 0, 0.745, 0.715);
}

@property --ease-out-sine {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@property --ease-in-out-sine {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@property --ease-in-quad {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

@property --ease-out-quad {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@property --ease-in-out-quad {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@property --ease-in-cubic {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@property --ease-out-cubic {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@property --ease-in-out-cubic {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@property --ease-in-quart {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

@property --ease-out-quart {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@property --ease-in-out-quart {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.77, 0, 0.175, 1);
}

@property --ease-in-quint {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

@property --ease-out-quint {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.23, 1, 0.32, 1);
}

@property --ease-in-out-quint {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.86, 0, 0.07, 1);
}

@property --ease-in-expo {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

@property --ease-out-expo {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.19, 1, 0.22, 1);
}

@property --ease-in-out-expo {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(1, 0, 0, 1);
}

@property --ease-in-circ {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

@property --ease-out-circ {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@property --ease-in-out-circ {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@property --ease-in-back {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@property --ease-out-back {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@property --ease-in-out-back {
  syntax: '*';
  inherits: false;
  initial-value: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
