/* ======================================================
//
//  MARK: シェイプ
//
//  このセクションでは、サイト全体で使用する図形、アイコンなどのシェイプに関する定義を行います。
//
// ====================================================== */

/* ======================================================
//  MARK: SVG Shapes
//
//  `mask-image`や`background-image`で使用するSVGを定義します。
//  原則的には CSS 側で色を変更できるようにするため、`mask-image`を使用してください。
// ====================================================== */
@property --icon-chevron-upward {
  syntax: '<url>';
  inherits: false;
  initial-value: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="m4 16 8-8 8 8" /></svg>');
}

@property --icon-chevron-rightward {
  syntax: '<url>';
  inherits: false;
  initial-value: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M8 4L16 12L8 20" /></svg>');
}

@property --icon-chevron-downward {
  syntax: '<url>';
  inherits: false;
  initial-value: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M4 8L12 16L20 8" /></svg>');
}

@property --icon-chevron-leftward {
  syntax: '<url>';
  inherits: false;
  initial-value: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M16 4L8 12L16 20" /></svg>');
}

/* ======================================================
//  MARK: 三角形
//
//  `clip-path`で作成する、吹き出しなどで使用する三角形を定義します。
// ====================================================== */
@property --shape-triangle-upward {
  syntax: '*';
  inherits: false;
  initial-value: polygon(50% 0, 100% 100%, 0 100%);
}

@property --shape-triangle-downward {
  syntax: '*';
  inherits: false;
  initial-value: polygon(0 0, 100% 0, 50% 100%);
}

@property --shape-triangle-rightward {
  syntax: '*';
  inherits: false;
  initial-value: polygon(0 0, 100% 50%, 0 100%);
}

@property --shape-triangle-leftward {
  syntax: '*';
  inherits: false;
  initial-value: polygon(0 50%, 100% 0, 100% 100%);
}

@property --shape-triangle-lower-leftward {
  syntax: '*';
  inherits: false;
  initial-value: polygon(0 0, 100% 100%, 0 100%);
}

@property --shape-triangle-upper-leftward {
  syntax: '*';
  inherits: false;
  initial-value: polygon(0 0, 100% 0, 0 100%);
}

@property --shape-triangle-lower-rightward {
  syntax: '*';
  inherits: false;
  initial-value: polygon(100% 0, 100% 100%, 0 100%);
}

@property --shape-triangle-upper-rightward {
  syntax: '*';
  inherits: false;
  initial-value: polygon(0 0, 100% 0, 100% 100%);
}
