/* ======================================================
//
//  MARK: view-transition
//
//  View Transition APIを有効にします。
//
// ====================================================== */

@view-transition {
  navigation: auto;
}
